/* Top banner and menu */

#stripes {
	background-color: #ff9b00;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: linear-gradient(#ff6000,#ff9b00);
	transform: skewY(-6deg);
	transform-origin: top left;
}

#spanone {
	width: 33.33333%;
	width: calc(100% / 3);
	left: -16.66666%;
	left: calc(calc(calc(100% / 3) / 2) * -1);
	background: #ff9400;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

#spantwo {
	width: 33.33333%;
	width: calc(100% / 3);
	top: 0;
	left: 16.66666%;
	left: calc(calc(100% / 3) / 2);
	right: auto;
	background: #ff6000;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff9b00,#ff6000);
}

#spanthree {
	width: 33.33333%;
	width: calc(100% / 3);
	left: 49.99999%;
	left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
	bottom: auto;
	background: #fff640;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

#spanfour {
	width: 33.33333%;
	width: calc(100% / 4);
	top: 380px;
	top: calc(80px * 2);
	right: -16.66666%;
	right: calc(calc(calc(100% / 3) / 2) * -1);
	background: #ff6000;
	height: 90px;
	position: absolute;
	margin-right: 12em;
	background-image: linear-gradient(to right, #ff6000 5%, #ff9a00 30%, #ffb44d);
}

#spanfive {
	width: 33.33333%;
	width: calc(100% / 3);
	bottom: 0;
	background: #ff6000;
	height: 30px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

.region-main-menu {
	margin-top: 110px;
}
.main-menu__item {
	padding: 0 18px;
	font-weight: 600;
}

.region.region-branding {
	width: 100%;
	top: 200px;
	position: absolute;
	margin-left: 65%;
}

.block-system-branding-block .logo {
	max-width: 5rem;
}

.page-main {
	margin-top: 70px;
}


/* colors and boxes */

.view-opigno-calendar[class*="month"] td.single-day.single-day-active .inner, .view-opigno-calendar, .content-box, .fieldgroup {
	-webkit-box-shadow: 0 0 6px rgba(122, 57, 0, 0.54);
	box-shadow: 0 0 6px rgba(122, 57, 0, 0.54);
}

#add-first-entity:focus, #add-first-entity:hover, #folder-add-content-links .folder-add-content-link a.focus, #folder-add-content-links .folder-add-content-link a:focus, #folder-add-content-links .folder-add-content-link a:hover, #load-previous-messages:focus, #load-previous-messages:hover, .block-local_tasks_block ul a.focus, .block-local_tasks_block ul a:focus, .block-local_tasks_block ul a:hover, .btn.focus, .btn:focus, .btn:hover, .comment-comment-forum-form .focus.form-submit, .comment-comment-forum-form .form-submit:focus, .comment-comment-forum-form .form-submit:hover, .focus#add-first-entity, .focus#load-previous-messages, .focus.tabledrag-toggle-weight, .folder-menu-wrapper #tft-back-link:focus, .folder-menu-wrapper #tft-back-link:hover, .folder-menu-wrapper .focus#tft-back-link, .tabledrag-toggle-weight:focus, .tabledrag-toggle-weight:hover, .ui-dialog-buttonset .focus.form-submit, .ui-dialog-buttonset .form-submit:focus, .ui-dialog-buttonset .form-submit:hover, .view-opigno-calendar .content-box__info #today:focus, .view-opigno-calendar .content-box__info #today:hover, .view-opigno-calendar .content-box__info .focus#today, form #edit-delete:focus, form #edit-delete:hover, form #edit-unpublish:focus, form #edit-unpublish:hover, form .focus#edit-delete, form .focus#edit-unpublish, form .focus.form-submit, form .form-submit:focus, form .form-submit:hover {
	background-color: #9893bb;
	color: #030e36;
}

.btn-add a, #add-first-entity, #folder-add-content-links .folder-add-content-link a, #load-previous-messages, .btn-rounded, .comment-comment-forum-form .form-submit, .folder-menu-wrapper #tft-back-link, .tabledrag-toggle-weight, .ui-dialog-buttonset .form-submit, .view-opigno-calendar .content-box__info #today, form #edit-delete, form #edit-unpublish, form .form-submit {
	border: 2px solid #0e006a;
}

.btn-add a:hover {
	background: #ff8d00;
	font-size: 0.6em;
}

.form-textarea {
	background: #fff9f5;
	border: 1px solid #f0dcd1;
}

/* textblock */
#block-socrates-pagetitle {
	margin-top: 60px;
}


/*Remove bullet from list */
li, ul li {
	list-style-type: none;
}

#block-socrates-tabs ul li {
	float: left;
	padding-right: 20px;
}

#taxonomy-overview-terms {
	clear: left;
	padding-top: 20px;
}


