/* Top banner and menu */

#stripes {
	background-color: #ff9b00;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: linear-gradient(#ff6000,#ff9b00);
	transform: skewY(-6deg);
	transform-origin: top left;
}

#spanone {
	width: 33.33333%;
	width: calc(100% / 3);
	left: -16.66666%;
	left: calc(calc(calc(100% / 3) / 2) * -1);
	background: #ff9400;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

#spantwo {
	width: 33.33333%;
	width: calc(100% / 3);
	top: 0;
	left: 16.66666%;
	left: calc(calc(100% / 3) / 2);
	right: auto;
	background: #ff6000;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff9b00,#ff6000);
}

#spanthree {
	width: 33.33333%;
	width: calc(100% / 3);
	left: 49.99999%;
	left: calc(calc(calc(100% / 3) / 2) + calc(100% / 3));
	bottom: auto;
	background: #fff640;
	height: 100px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

#spanfour {
	width: 33.33333%;
	width: calc(100% / 4);
	top: 380px;
	top: calc(80px * 2);
	right: -16.66666%;
	right: calc(calc(calc(100% / 3) / 2) * -1);
	background: #ff6000;
	height: 90px;
	position: absolute;
	margin-right: 12em;
	background-image: linear-gradient(to right, #ff6000 5%, #ff9a00 30%, #ffb44d);
}

#spanfive {
	width: 33.33333%;
	width: calc(100% / 3);
	bottom: 0;
	background: #ff6000;
	height: 30px;
	position: absolute;
	background-image: linear-gradient(#ff6000,#ff9b00);
}

.region-main-menu {
	margin-top: 110px;
}
.main-menu__item {
	padding: 0 18px;
	font-weight: 600;
}

.region.region-branding {
	width: 100%;
	top: 200px;
	position: absolute;
	margin-left: 65%;
}

.block-system-branding-block .logo {
	max-width: 5rem;
}

.page-main {
	margin-top: 70px;
}


/* colors and boxes */

.view-opigno-calendar[class*="month"] td.single-day.single-day-active .inner, .view-opigno-calendar, .content-box, .fieldgroup {
	-webkit-box-shadow: 0 0 6px rgb(255, 142, 0);
	box-shadow: 0 0 6px rgb(255, 142, 0);
}

#add-first-entity:focus, #add-first-entity:hover, #folder-add-content-links .folder-add-content-link a.focus, #folder-add-content-links .folder-add-content-link a:focus, #folder-add-content-links .folder-add-content-link a:hover, #load-previous-messages:focus, #load-previous-messages:hover, .block-local_tasks_block ul a.focus, .block-local_tasks_block ul a:focus, .block-local_tasks_block ul a:hover, .btn.focus, .btn:focus, .btn:hover, .comment-comment-forum-form .focus.form-submit, .comment-comment-forum-form .form-submit:focus, .comment-comment-forum-form .form-submit:hover, .focus#add-first-entity, .focus#load-previous-messages, .focus.tabledrag-toggle-weight, .folder-menu-wrapper #tft-back-link:focus, .folder-menu-wrapper #tft-back-link:hover, .folder-menu-wrapper .focus#tft-back-link, .tabledrag-toggle-weight:focus, .tabledrag-toggle-weight:hover, .ui-dialog-buttonset .focus.form-submit, .ui-dialog-buttonset .form-submit:focus, .ui-dialog-buttonset .form-submit:hover, .view-opigno-calendar .content-box__info #today:focus, .view-opigno-calendar .content-box__info #today:hover, .view-opigno-calendar .content-box__info .focus#today, form #edit-delete:focus, form #edit-delete:hover, form #edit-unpublish:focus, form #edit-unpublish:hover, form .focus#edit-delete, form .focus#edit-unpublish, form .focus.form-submit, form .form-submit:focus, form .form-submit:hover {
	background-color: #9893bb;
	color: #030e36;
}

.btn-add a, #add-first-entity, #folder-add-content-links .folder-add-content-link a, #load-previous-messages, .btn-rounded, .comment-comment-forum-form .form-submit, .folder-menu-wrapper #tft-back-link, .tabledrag-toggle-weight, .ui-dialog-buttonset .form-submit, .view-opigno-calendar .content-box__info #today, form #edit-delete, form #edit-unpublish, form .form-submit {
	border: 2px solid #0e006a;
}

.btn-add a:hover {
	background: #ff8d00;
	font-size: 0.6em;
}

.form-textarea {
	background: #fff9f5;
	border: 1px solid #f0dcd1;
}

/* textblock */
#block-socrates-pagetitle {
	margin-top: 60px;
}


/*Remove bullet from list */
li, ul li {
	list-style-type: none;
}

#block-socrates-tabs ul li {
	float: left;
	padding-right: 20px;
}

#field-overview,
#taxonomy-overview-terms {
	clear: left;
	padding-top: 20px;
}

/*interface corrections */
.field-weight.form-text {
	width: 100px;
}

.filter-option {
	background-color: white;
	min-width: 100px;
	font-size: 14px;
}

#drupal-off-canvas a, #drupal-off-canvas .link {
	cursor: pointer;
	transition: color 0.5s ease;
	text-decoration: none;
	color: #fff;
	border-bottom: none;
	font-family: "Lucida Grande","Lucida Sans Unicode","liberation sans",sans-serif;
	font-size: 12px;
	font-weight: normal;
}


.login-container #block-socrates-sitebranding {
    margin-top: 0px;
    max-width: 26.625rem;
    position: relative;
    padding: 0 1.25rem;
}

#block-socrates-sitebranding img {
    min-width: 150px;
}

.login-container .main-menu .hem::before {
	font-family: uicons-regular-rounded;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	display: block;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.login-container .main-menu .hem {
	color: var(--desktop-header-link);
	font-size: 2.375rem;
}

.fi-rr-home::before, .login-container .main-menu .hem::before {
	content: "\f1a3";
}

.image-row:nth-child(1) {
    margin-top: 25px;
}

.image-row:nth-child(3) {
    margin-top: -38px;
}

.image-row:nth-child(4) {
    margin-left: -170px;
    margin-top: -40px;
    padding-bottom: 40px;
}

.image-row:nth-child(even) {
    margin-left: -170px;
    margin-top: -40px;
}

.login-container .main-menu .butiken::before {
	font-family: uicons-regular-rounded;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	display: block;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fi-rr-book-alt:before, .login-container .main-menu .butiken:before {
    content: "fi fi-rr-shop";
    margin-left: -8px;
}

.login-container .main-menu .butiken {
    color: var(--desktop-header-link);
    font-size: 2.375rem;
}

h4 {
    font-size: 0.7em;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 10px;
}

.login-container .switch-link-bottom {
    position: relative;
    float: right;
    padding-top: 20px;
}

div#sidebar_second {
    border-left: 3px solid orange;
    padding-left: 10px;
}

.user-login-form label {
    display: none;
}

.valkommen {
    width: 40%;
    float: left;
}

.form-wrapper.user-login {
    width: 55%;
    float: left;
	margin-left: 20px;
}

input#edit-submit {
    margin-top: 20px;
}

.menu-innehall .link-text {
	display: none;
}

.menu-innehall a {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--desktop-header-bg);
	border-radius: 50%;
	color: var(--desktop-header-link);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	height: 50px;
	width: 50px;
	float: left;
	margin: 5px;
}

.menu-innehall .svg-inline--fa {
	font-size: 1.6em;
}

/* Artikelsidan */
.paragraph--type--bild img {
	Float: left;
	border: 1px solid black;
	padding: 10px;
	width: 350px;
	margin-right: 20px;
}

.paragraph--type--citat p {
	font-size: 2em;
	font-weight: bolder;
	color: orange;
}

.paragraph--type--citat::before {
	margin-right: 0.2em;
	content: "\201C";
	vertical-align: -0.4em;
	color: green;
	font-size: 3em;
	line-height: 0.1em;
	margin-left: -0.5em;
}

.paragraph--type--citat::after {
	content: "\201D";
	vertical-align: -0.45em;
	color: green;
	font-size: 3em;
	line-height: 0.1em;
	float: right;
}

.paragraph.paragraph--type--citat {
	float: right;
	width: 40%;
	padding: 20px;
	margin: 10px;
}

.layout-content {
	margin: 170px 30px 30px 30px;
}

/* Produktsidorna */

.product--variation-field--variation_price__1 ,
.product--variation-field--variation_price__2, 
.product--variation-field--variation_price__3, 
.product--variation-field--variation_price__4 {
	font-size: 2.5em;
	font-weight: bolder;
	color: #11008b;
}

.form-actions {
	padding-bottom: 30px;
}

#edit-purchased-entity-0-target-id {
	display: none;
}

.layout--fourcol-section .layout__region.layout__region--second {
	padding: 0px;
}

.views-view-grid .views-col {
	max-width: 25%;
}

.layout__region.layout__region--second {
	padding: 20px;
}

.tabs__tab {
	background-color: orange;
	padding: 10px;
	float: left;
	border-radius: 20px;
	margin: 10px;
	color: white;
}

.tab-content {
	margin-top: 80px;
}

.tab-content {
	clear: both;
	padding-top: 30px;
}

.tab-content li, .tab-content ul li {
	list-style-type: square;
}

.main-menu li {
	list-style-type: none;
}

.tab-content {
	border-bottom: 1px solid black;
}

.layout--threecol-section--33-34-33 .layout__region.layout__region--second {
	padding: 0px;
}

.kursannonser {
    float: right;
    margin-top: -187px;
    transform: rotate(15deg);
    width: 130px;
}

.pager {
	clear: both;
}

nav {
	clear: both;
}

#drupal-modal .views-messages {
	display: none;
}

.leftsec {
	float: left;
	width: 65%;
}

.layout-sidebar-second.col-4 {
	float: left;
	width: 30%;
}

.two-grid-annons {
	width: 100%;
	margin-top: 150px;
}

.two-grid-annons .views-col {
	max-width: 100%;
}

.two-grid-annons .ih-item.square {
	width: 170px;
	margin-bottom: 20px;
}

.col-lg-12 .layout-content {
	margin-top: 30px;
}

.bocker-butiken img {
	border: 1px solid gray;
	padding: 5px;
}

.layout.layout--threecol-section.layout--threecol-section--25-50-25 {
	clear: both;
	padding-top: 5px;
}
